
*{  
  margin: 0;
  padding: 0;
  color: #ffff;
  box-sizing: border-box;
}

body{
  font-family: 'Times New Roman', Times, serif;
}

.container ul {
  margin-bottom: 0;
  
}

.text{

  margin-top: 30%;
}

.container{
  background-repeat:no-repeat;
  background-image: url('https://images.unsplash.com/photo-1700404243679-dd764b160784?q=80&w=1400&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ;
  min-height:100vh;
  width:100%;
  overflow: hidden;
  background-size: cover;
}

.links{

margin-top: 10%;
}

h2{
  font-size: 60px;
  letter-spacing:.7cm;
  margin-bottom: .2%;
  text-align: center;
}

.sub-txt {
  letter-spacing: 0.1cm;
  font-size: 12px;
  text-align: center;
  color:#ffff;
}

li {
  list-style: none;
  text-align: center;
line-height: 2;
font-size: 20px;
letter-spacing: .5rem;
}

a{
  text-decoration:none;
}

.about{
background-color:#1E2B34;
  height:100vh;
  width: 100%;

}

h1{
font-size: 30px;
text-align: center;
letter-spacing: .5rem;
}



.aboutTitle{
padding-top:10%;
}


#des{
  text-align: center;
  line-height: 3;
  margin: 6%;
  line-spacing:.5rem;
}


.letsworkbutton{
  background-color:#99B28A ;
  padding:1%;
  border: none;
  margin: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
 font-family: 'Times New Roman', Times, serif;
}

.center-button{
  display: flex;
  justify-content: center;    
  align-items: center;
}




.projects{
background-color: #7D8D75;
min-height:100vh;
width:100%;
padding:10%;
}


.portfolio-projects{
display: grid;

  grid-template-columns: 10rem 10rem;
  gap:40px;

  background-color: #1E2B34;
}

.grid{
  gap:10px; 
  height: 8rem;
width:8rem;
}


.contact{

background-color:#0F191E ;
min-height:100vh;
width:100%;
text-align: center;
padding: 20%;



}

.profiles {
margin-top: 20%;
letter-spacing: .1cm;

}






@media only screen and (min-width: 768px){

.links{

  margin-bottom: 20%;
}

  .heading{
    margin-top: -20%;
  }


.about{

padding-left: 20%;
padding-right:20%;

}


}